.App {
  text-align: center;
}

.ball {
  animation: ball-spin infinite 20s linear;
  height: 30vmin;
  pointer-events: none;
  margin-bottom: 10vmin;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.team-logo {
  height: 3vh;
}

.line-score {
  margin: auto;
  width: 50%;
}

.probable-pitchers,
.decisions,
.current-play,
.starting-lineup {
  display: flex;
  justify-content: center;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 13vw;
}

.game {
  padding: 5%;
}

ul {
  list-style-type: none;
}

@media only screen and (min-width: 920px) {
  .current-plays {
    position: relative;
    bottom: 100px;
  }
}

@keyframes ball-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
